//= require bootstrap
//= require bootstrap-responsive
//= require_self

.app, .following
  .remove-app, .unfollow
    display: none
  &:hover
    .remove-app, .unfollow
      display: block

.following
  h4
    line-height: 30px

.authorization
  .remove-auth
    display: none
  &:hover
    .remove-auth
      display: block
