//= require bootstrap
//= require bootstrap-responsive
//= require_self

.app, .following, .follower
  .remove-app, .unfollow, .remove
    display: none
  &:hover
    .remove-app, .unfollow, .remove
      display: block

.following, .follower
  h4
    line-height: 30px

.authorization
  .remove-auth
    display: none
  &:hover
    .remove-auth
      display: block
